{% extends "layout.html" %} 
 

{% block content %}
    {{ content }}
<div id="content-employed" class="col-lg-12">
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Lastname</td>
                <td>CPF</td>
                <td>Birthday</td>  
                <td>You want to delete?              
            </tr>
        </thead>
        <tbody>
            {% for test in employed %}
                    <tr>
                        <td>{{ test.id }}</td>
                        <td>{{ test.name }}</td>
                        <td>{{ test.lastname }}</td>
                        <td>{{ test.cpf }}</td>
                        <td>{{ test.birthday }}</td>  
                        <td> <input type="button" name="button-del" id={{test.id}}> TESTE </input> </td>                  
                    </tr>
            {% endfor %} 
        </tbody>
    </table>
</div>
{% endblock %} 