<!DOCTYPE html>
<link rel="stylesheet" href="../css/global.css"></link>
<link href="../vendor/twbs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="../css/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<script src="../vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../js/jquery-3.2.0.min.js"></script>
<script src="../js/jquery.mask.min.js"></script>
<script src="../js/global.js"></script>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>Projeto SeuGado</title>
    </head>
    <body>
    <header id="header" >
    	<div id="logo" class="col-lg-3"><img src="../img/logo_white.png"/> </div>
    	<div class="col-lg-9"> 
    		<ul id="menu">
    			<li> <a href="/index.php">Make your registration</a></li>
    			<li> <a href="/employed.php">See all users</a></li>
    		</ul>
    	</div>
    </header>
        {% block content %}
        {% endblock %}
    </body>
</html>